<% layout('./layouts/boilerplate') %>
<div class="row">
    <h1 class="text-center">Upload New Image</h1>
    <div class="col-6 offset-3">
        <form action="/images" method="POST">
            <div class="form-group mb-3">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" name="image[title]">
            </div>
            <div class="form-group mb-3">
                <label for="author">Author</label>
                <input type="text" class="form-control" id="author" name="image[author]">
            </div>
            <div class="form-group mb-3">
                <label for="price">Price</label>
                <div class="input-group">
                    <span class="input-group-prepend input-group-text">$</span>
                    <input type="number" min="0" class="form-control" id="price" name="image[price]" placeholder="0.00">
                </div>
            </div>
            <button class="btn btn-primary mt-2">Upload Image</button>
        </form>
    </div>
</div>
