<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Repository</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Image Repository</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <% if (userId) { %>
                        <a class="nav-link" aria-current="page" href=<%= `/images/myimages` %>>My Images</a>
                    <% } %>
                    <a class="nav-link" aria-current="page" href="/images">Browse</a>
                    <a class="nav-link" aria-current="page" href="/images/new">New</a>
                </div>
                <div class="navbar-nav ms-auto">
                    <% if (! userId) { %> 
                    <a class="nav-link" aria-current="page" href="/register">Sign Up</a>
                    <a class="nav-link" aria-current="page" href="/login">Login</a>
                    <% } else { %> 
                    <a class="nav-link" href="/logout">Logout</a>
                    <% } %> 
                </div>
            </div>
        </div>
    </nav>
    <main class="container mt-2">
        <%- body %> 
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
</body>
</html>